/*
 This be for the footer
 */
.footer {
  text-align: center;  font-style: oblique;
  background-color: whitesmoke;
  margin-top: -17px;
}
.lower-footer {
  background-color: DimGrey;
  height: 50px; color: white;
  text-align: center;
}
.details {
  display: inline-block;
  font-size: 13px;
  color: Grey;
}

/*
This is for anotherlist
*/
.link-to-more {
  text-align: center;
  margin-bottom: -2em;
}
.items {
  font-style: normal;
  color: black; background-color: whitesmoke;
  text-align: left;
}

/*
this is for show-products-available
 */
.show-products-available {
margin-top: -2em;
background-color: white;
}

/*
 this is for Navibar.js and homepage.js
  */

.bg-img{
  background-image: linear-gradient( rgba(0, 0, 0, 0.336),rgba(0, 0, 0, 0.281)),
  url(/images/fpimg.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  color: white;
  text-align: center;
}

.navLink{
  color: #fff !important;

}
.nav-bar {
  margin-top: -4.5em;
}
.navLink:hover{
  color: red !important;
}
