.footer-container {
    background-color: #f0f2f5;
    text-align: center; 
    color: green;  
}

a {
    color: green;
}

.footer2 {
    background-color: black;
    text-align: center;
    height: 50px;
    padding-top: 15px;
    font-size: 80%;
}
h4 {
    color: azure;
} 

.banner {
    height: auto;
    background-color: #106021 !important; 
    padding: 50px; 
    text-align: center; 
    color: white;
}
.banner h2 {
    color: white;
    padding-bottom: 20px;
}

.banner_flex {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around;
}

.banner_card {
    width: 250px; 
    display: block; 
    text-align: center;
    padding: 15px;
    color: white;
}

.banner_icon {
    border-radius:15px; 
    width: 50px; 
    height: 50px; 
    background-color: white; 
    margin: auto;

}

.banner_icon i {
    color: #106021; 
    font-size: 25px; 
    padding-top: 15px;
    font-weight: 7px;
}

.banner_color {
    color: white;
}

.banner_body {
    font-size: 15px;
    color: white;
}

.banner button {
    color: white;
    float: right;
    margin-right: 100px;
    margin-top: 40px;
}

.nav2-header {
    background: rgba(245, 245, 245, 0.78);
    /* z-index: 1; */
    margin-top: 63px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.navbar2-main-div {
    background-color: #E0E0E0;
}

.avatar-container {
    background-color: #285432 !important;
  }
  
  .home-avatar {
    height: 28%;
    margin-left: 25%; 
    margin-right: 25%; 
    width: 38%;

  }
  .avatar-container2  { 
    padding-top: 23px; 
    padding-bottom: 23px;
  }

  .logo-container2  {
    padding-top: 23px; 
    padding-bottom: 23px;
  }
  .search-container {
    display: flex;
    justify-content: center;
  } 

  .cart-avatar {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
  }
/* banner2 styles */
  .banner2-container {
    background-color: #800000; 
    opacity: 0.7;
  }
  .banner2-container div { 
      padding-bottom: 15px; 
      padding-top: 22px; 
    }

  .banner2-container div h1, h5, h6 {
      color: whitesmoke;
      text-align: center;
      line-height: 18px;
  }
   
  .banner2-container div h1 span { color: grey; }
  .banner2-container div h1 { font-size: 47px; }
  .banner2-container div h5 { font-size: 20px; }
  .banner2-container div h6 { font-size: 14px; font-weight: normal; }

  /* product category */
  .list-category {
      width: 80%;
      margin: 0 10%;
      background-color: #E0E0E0; 
  }

  .list-item-meta * {
      color: #106021;
      font-weight: 700;
      margin-top: 10px;
      text-align: center;
  }

  .right-nav-menu {
    position: relative;
    float: left;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .left-nav-menu {
    background-color: #285432 !important;
    position: relative;
    float: right;
    top: 50%;
    transform: translateY(-50%);
  }

  /* mobile view css */
  @media screen and (max-width: 700px) {
    .nav2-header {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-content: center;
        margin-top: 55px;
    }
  
    .list-item-meta * {
     font-size: 12px;
     line-height: 5px;
    }
    .banner2-container div h1 { font-size: 28px; }
    .banner2-container div h5 { font-size: 14px; }
    .banner2-container div h6 { font-size: 12px; font-weight: normal; }
  }