.footer-container {
    background-color: #f0f2f5;
    text-align: center;
}

body {
    font-family: 'Work Sans', sans-serif;
   }
   
   h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Text', serif;
   }