/* Producer */
.product-item{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.list-item-desc {
    display: block;
}

.item-list-container {
    margin-top: 70px;
    margin-left: 10px;
}

.image-width {
    width: 100%;
}
