.content {
    background: white;
}
.top-div {
    background: white; 
    text-align: center;
}
.top-text {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    font-family:  'Geneva', Verdana;
}
.top-text:first-letter {
    font-size: 25px;
    font-style: italic;
}
.top-card {
    margin-left: 23%;
    margin-top: 4%; 
    padding-top: 5%;
    padding-bottom: 2%;
    width: 52%;
}
.team-card {
    position: relative;
    width: 100%;
    text-align: center; 
    margin-top: 8%;
}
.avatar { 
    width: 40%;
    height: 50%;
    margin-left: 30%;
    margin-right: 50%;
    display: block;
}
.team-header {
    text-align: center;
    font-size: 23px;
    margin: 1%;
}
