body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
    background: #eeefef;
}

.bigWrapper {
    width: 100%;
    height: 550px;
    background-color: darkkhaki;
}

.backgroundImage {
    background-image: url(storegirl.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1350px 550px;
    width: inherit;
    height: inherit;
}
.pix {
    background-image: url(meee.PNG);
}

.footer {
    background-image: url(meee.PNG)
}

.mr-sm-2 {
    color: whitesmoke;
}

.dashboard-content {
    margin: auto;
    position: relative;
    top: 10%;
    width: 80%;
    height: 80%;
    text-align: center;
    
}

main-dashboard-content {
    margin-top: 5%;
    font-size: 1.5em;
    color: darkslateblue;
    font-weight: bold;
}
.main-dashboard-content p {
    color: black;
    text-shadow: 1px 1px black;
    font-weight: inherit;
    font-style: italic;
}

.dashboard-content h1 {
    text-shadow: 2px 4px black;
    color: black;
    font-style: oblique;
    
}

Navbar {
    height: 70px;
    
}