.scroll-bar {
    overflow-y:auto;
    max-height:85%;
}

.radio-group-form{
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio-buttons{
    font-size: 14px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}