/* footer.js */
.footer {
  text-align: center;  font-style: oblique;
  background-color: whitesmoke;
  margin-top: -17px;
}
.lower-footer {
  background-color: DimGrey;
  height: 50px; color: whitesmoke;
  text-align: center;
}
.details {
  display: inline-block;
  list-style: none;
  font-size: 15px;
  color: Grey;
}

 ul li {
  display: block;
  list-style: none;
  font-size: 14px;
  color: gray;
}

.button {
  height: 30px;
  width: 72px;
  margin-top: 5px;
}

.details Button {
  font-size: "0.9em";
  line-height: '15px';
  background-color: 'darkslateblue';
  width: '150px';
}

/* AnotherList.js */
.link-to-more {
  text-align: center;
  margin-bottom: -2em;
}

.items {
  font-style: normal;
  color: black; background-color: whitesmoke;
  text-align: left;
  }

  li {
    list-style: none;
  }

/*
this is for show-products-available
 */
.show-products-available {
margin-top: -2em;
background-color: white;
}

/*
 this is for Navibar.js and home.js
  */
.bg-img{
  background-image: linear-gradient( rgba(0, 0, 0, 0.336),rgba(0, 0, 0, 0.281)),
  url(/images/fpimg.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  color: white;
  text-align: center;
}

.wrapper {
  margin: 0; padding: 0;
  width: 100%;
  height: 100vh;
  background: DimGrey;
  background-size: cover;
  font-weight: bolder;
  font-family: cursive;
  display: table;
}


.nav {
  position: fixed;
  top: 0; left: 0; margin: 0;
  padding: 0; width: 100%;
  height: 80px;
}

img {  
  margin-right: 50px;
}

.right {
  float: right;
  text-align: right;
}

.right ul {
  list-style: none;
  padding: 1em 3em;
}

.right ul li {
  display: inline-block;
}

.right ul li a {
  color: white !important;
  text-decoration: none;
  font-weight: 500;
}

.navLink {
  color: #fff !important;
}

.nav-bar {
  margin-top: -4.5em;
}
.navLink:hover{
  color: red !important;
}

/*Support.js */
.support {
  text-align: center;
  margin-top: 90px;
  background-color: DimGrey;
  color: whitesmoke;
}
