/* footer.js */
.footer {
  text-align: center;  font-style: oblique;
  background-color:  #dcdcdc;
  margin-top: -4px;
}

.lower-footer {
  background-color: grey;
  height: 50px; color:whitesmoke;
  text-align: center;
}

.footer-content {
  margin-bottom: -40%;
}

.details {
  display: inline-block;
  list-style: none;
  font-size: 15px;
  color: Grey;
}

 ul li {
  display: block;
  list-style: none;
  font-size: 14px;
  color: gray;
}

.small-div {
  background-color: white;
}

.button {
  height: 30px;
  width: 72px;
  margin-top: 5px;
}

.details Button {
  font-size: "0.9em";
  line-height: '15px';
  background-color: 'darkslateblue';
  width: '150px';
}

/* ListItems.js */
.link-to-more {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 45px;
}
  .row-items {
    margin-top: -33px;
  }

  .header {
    background-color: grey;
  }

  
.sider {
  border-right: 1px solid grey;
  background-color: white;
}


/*this is for show-products-available*/
.show-products-available {
background-color: whitesmoke;
margin-top: 2px;
}

/*
 this is for Navibar.js and home.js
  */
.bg-img{
  background-image: linear-gradient( rgba(0, 0, 0, 0.336),rgba(0, 0, 0, 0.281)),
  url(/images/fpimg.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  color: white;
  text-align: center;
}

.sm-img {
  margin-top: 100px; 
}

.sm-img h4 {
  text-align: center;
}

.wrapper {
  margin: 0; padding: 0;
  width: 100%;
  height: 100vh;
  background: DimGrey;
  background-size: cover;
  font-weight: bolder;
  font-family: cursive;
  display: table;
}

.nav {
  position: fixed;
  top: 0; left: 0; margin: 0;
  padding: 0; width: 100%;
  height: 80px;
}

img {  
  margin-right: 50px;
}

.right {
  float: right;
  text-align: right;
}

.right ul {
  list-style: none;
  padding: 1em 3em;
}

.right ul li {
  display: inline-block;
}

.right ul li a {
  color: white !important;
  text-decoration: none;
  font-weight: 500;
}

.navLink {
  color: #fff !important;
}

.row {
  margin-top: 35px;
}

.nav-bar {
  margin-top: -0.7em;
}
.navLink:hover{
  color: red !important;
}

/*Support.js */
.support {
  text-align: center;
  margin-top: 90px;
  background-color: DimGrey;
  color: whitesmoke;
}

.support h1 {
  word-spacing: 0.3em;
}

/*product file */
.top-image {
  width: 200px; 
  height: 100px;
}

.modal-body {
  width: 100%; height: 50%;
  display: block;
}

.details p {
  margin-top: 5px;
}

/* Location.js */
.bg-div {
  margin-Top: 20px;
  margin-left: -20px;
}

.bg-div ul h6 {
  font-size: 13px;
  font-weight: 600;
}
.linkItems {
  color: grey !important;
  font-size: 13px;
}