/*UserInfo */
.header-title {
    color: darkgray;
    font-size: 13px;
    font-weight: bold;
}
.data-title {
    margin-top: 22px;
    margin-bottom: 19.2px;
    font-weight: 600;
}
.data-title div {
     float: right;
     font-size: 13.5px;
     text-align: right;
     font-weight: 300;
}

.basic-info {
    margin-top: 15px;
    padding-bottom: 17.4px;
    font-weight: 600;
}

.basic-info div {
    float: right;
    font-size: 13.5px;
    padding-right: 40px;
    font-weight: 300;
}
.big-card {
    background-color: DodgerBlue;
    width: 1000px;
}
.card-header {
    color: white;
    font-size: 16px;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-weight: 600;
    padding-left: 37px;
}
.inner-card {
    padding-right: 40px;
    padding-left: 40px;
}
/**UserProfile.js */
.big-content {
    background: white;
}
.big-layout {
    background: white;
    margin-top: 1%;
}
.sider {
    background: white;

}
.menu {
    height: 100%;
    min-height: 550px;
    padding-top: 50px;
}
.sm-content {
    padding: 0 14px;
}
.info-card {
    float: right;
    width: 100%;
}
.card-meta {
    margin-top: 35px;
}
.profile-content {
  padding: 60px;
}

/** UserAvatar */
.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.avatar-card {
    margin: -7%;
    padding-top: 24px;
}
