.groupedItems ul h6 {
    margin-top: 16px;
    text-align: left;
    font-size: 13px;
    color: dimgrey;
    font-weight: 700;
}


.list {
    color: darkGrey !important;
}

/*productsAvailable */
.productsAvailable {
    margin-top: -35px;
}

.items {
    font-style: normal;
    color: black; background-color: whitesmoke;
    text-align: left;
}

li {
    list-style: none;
}
